/* We can color once we added stuff in */

body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}
h1 {
  font-size: 2.5rem;
}
#game-over-text {
  font-size: 1.5px;
  margin-bottom: 10px;
}

#score {
  font-size: 1.5rem;
}

#game-board {
  display:grid;
}
/* .cell

.snake

.snake-tail

.snake-head

.food */

button {
cursor: pointer;
}

button:hover {

}